*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
body {

}
.page-wrapper {
 min-width: 100%;
 min-height: 100%;
 position: relative;
 background-color: #222;
}

h1, h2, h3,
h4, h5, h6,
p, span {
  font-family: helvetica, sans-serif;
  color: #fff;
}

.clock-module {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  margin: 50px;
  color: #fff;
}
.time#time {
  font-size: 100px;
  font-weight: bold;
}
.date#date {
  font-size: 35px;
}
